html,
body {
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #0064c8 0%, #0080ff 100%) fixed;
}

a,
body {
  color: #eee;
}

a {
  opacity: .7;
  transition: opacity .25s;
}

a:hover {
  opacity: 1;
}

.card {
  font-size: .9em;
  line-height: 1.5em;
  padding: 30px;
  text-decoration: none;
}

.card em {
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 2em;
}

#links {
  display: flex;
  flex-wrap: wrap;
}

#links a {
  display: block;
  font-size: 2em;
  margin: auto;
}

#links a,
#logo {
  opacity: 1;
  transition: none;
}

#logo {
  display: block;
  text-align: center;
}

#logo img {
  margin: 5% 0;
  width: 80%;
  max-width: 190px;
}
