doctype
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='asset/css/app.css')
    title Dachshund Wrestler and Tech Wizard ~ Ahmed Nuaman
  body

    script(src='asset/js/app.js')
