doctype
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='asset/css/app.css')
    title Tech Wizard and Dachshund Wrestler ~ Ahmed Nuaman
  body
    .container
      header.row
        .col.s12
          h3 Ahmed Nuaman
          h5 Tech Wizard*

      section(role='main').row
        .col.s6.m3
          a.waves-effect.waves-light.btn-large.btn-block(href='https://docs.google.com/document/d/1Fc3sLjcY6VL006wnBldi4wRMUZT4q1KpVTPiWOe61Oo/edit?usp=sharing') 
            | My CV
            i.fa.fa-user-circle
        .col.s6.m3
          a.waves-effect.waves-light.btn-large.btn-block(href='https://github.com/ahmednuaman') 
            | Github
            i.fa.fa-github
        .col.s6.m3
          a.waves-effect.waves-light.btn-large.btn-block(href='https://stackoverflow.com/users/398939/ahmed-nuaman') 
            | Stackoverflow
            i.fa.fa-stack-overflow
        .col.s6.m3 
          a.waves-effect.waves-light.btn-large.btn-block(href='https://twitter.com/ahmednuaman') 
            | Twitter
            i.fa.fa-twitter

    footer
      small *And dachshund wrestler

    script(src='asset/js/app.js')
