doctype
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='asset/css/app.css')
    title Tech Wizard and Dachshund Wrestler ~ Ahmed Nuaman
  body.grey-text.text-lighten-4
    .container
      header.row
        .col.s12
          h3 Ahmed Nuaman #[small.grey-text Tech Wizard*]

        .col.s12.m6
          p.flow-text.
            As a former employee of Google, BBC, Sky (and many more during my freelance years) I believe that 
            challenging myself is how I become a better developer and I love working on projects that'll push me. 
          p.
            I'm a CodeClub volunteer (DBS checked), have Basic Disclosure, and have worked in a number of industries in 
            technical roles with additional management, training, and presentation tasks.

          p 
            b Technology summary

        .col.s12.m6
          section(role='main').row
            .col.s12.m12.l6
              .card.grey.darken-1
                .card-content
                  .card-title 
                    .fa.fa-user
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis commodo lorem, vel convallis tellus. Nulla nec tempus lorem. Suspendisse potenti.
                .card-action
                  a.yellow-text.text-darken-2(href='https://docs.google.com/document/d/1Fc3sLjcY6VL006wnBldi4wRMUZT4q1KpVTPiWOe61Oo/edit?usp=sharing') Download my cv

            .col.s12.m12.l6
              .card.grey.darken-1
                .card-content
                  .card-title 
                    .fa.fa-github
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis commodo lorem, vel convallis tellus. Nulla nec tempus lorem. Suspendisse potenti.
                .card-action
                  a.yellow-text.text-darken-2(href='https://github.com/ahmednuaman') Fork my github

            .col.s12.m12.l6
              .card.grey.darken-1
                .card-content
                  .card-title 
                    .fa.fa-stack-overflow
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis commodo lorem, vel convallis tellus. Nulla nec tempus lorem. Suspendisse potenti.
                .card-action
                  a.yellow-text.text-darken-2(href='https://stackoverflow.com/users/398939/ahmed-nuaman') Visit my stackoverflow

            .col.s12.m12.l6 
              .card.grey.darken-1
                .card-content
                  .card-title 
                    .fa.fa-twitter
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis commodo lorem, vel convallis tellus. Nulla nec tempus lorem. Suspendisse potenti.
                .card-action
                  a.yellow-text.text-darken-2(href='https://twitter.com/ahmednuaman') Read my tweets


    footer
      small *And dachshund wrestler

    script(src='asset/js/app.js')
